php_value extension mbstring.so
<IfModule mod_rewrite.c>
RewriteEngine on

# Evita redirigir si ya estamos en public
RewriteCond %{REQUEST_URI} !^/sgpc/public/
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
